<section class="vh-100" style="background-color: #f4f5f7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-12 gradient-custom text-center text-white image"
              style="border-top-right-radius: .5rem; border-top-left-radius: .5rem;">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp" alt="Avatar"
                class="img-fluid my-5" style="width: 80px;" />
              <h5>Marie Horwitz</h5>
              <p>Make up artist</p>
              <i class="far fa-edit mb-5"></i>
            </div>

            <div class="container text-center">

            </div>
            <div class="col-12">
              <div class="card-body row p-4">
                <div class="col-12 pt-2 center">
                  <a href="" class="btn btn-outline-primary btn-lg btn-block center">FACEBOOK</a>
                  <a href="" class="btn btn-outline-success btn-lg btn-block center">INSTAGRAM</a>
                  <a href="" class="btn btn-outline-dark btn-lg btn-block center">T. ADV</a>
                  <!-- <div class="col-12 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted">simona.fischasdsdetti@example.com</p>
                  </div>
                  <div class="col-5 mb-3">
                    <h6>Phone</h6>
                    <p class="text-muted">339 27 65 458</p>
                  </div> -->
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>