<form [formGroup]="profile" fxLayout="column" class="container" fxLayoutGap="25px" (ngSubmit)="userCreation()">
    <div>Registrazione Utente</div>
    <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Surname" formControlName="surname">
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Social" formControlName="typeSocial">
            <mat-option value="social" *ngFor="let social of socialType">
                {{ social }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Nickname" formControlName="info">
    </mat-form-field>
    <button type="submit" [disabled]="!profile.valid">Submit</button>
</form>

<form [formGroup]="profile" >

    <label for="first-name">Name: </label>
    <input id="first-name" type="text" formControlName="name">
  
    <label for="last-name">Surname: </label>
    <input id="Surname" type="text" formControlName="surname">
    
    <label for="last-name">City: </label>
    <input id="City" type="text" formControlName="city">
    
  </form>
  
  <button (click)="onSubmit()">add user</button>